body {
    font-weight: 400;
}

.header {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 136px 1fr;
    margin: 92px 48px;
}

.header__menu {
    display: flex;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
}

.header__links-list-item {
    display: flex;
    align-items: center;
}

.header__links-list-item .header__link {
    display: list-item;
    text-underline-offset: 3px;
    letter-spacing: 0.01em;
}

.header__links-list-item .header__link_active {
    list-style: none;
    text-decoration: none;
}

.logo_link {
    height: 100%;
    display: block;
}

.block_header_address {
    margin: 7px 0 7px 194px;
}

.address {
    font-style: normal;
    line-height: 24.3px;
}

.address_linkc {
    text-underline-offset: 5px;
}

.cover {
    background: url("../images/cover.jpg") no-repeat center / cover;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.cover_title {
    font-size: 100px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.3em;
    padding: 165px 50px 120px;
    position: relative;
}

.other_line_height {
    line-height: 1.15em;
}

.letter-spacing-extended  {
    letter-spacing: 0.6em;
}

.aligned-text_center {
    text-align: center;
    display: block;
    padding: 20px 0;
}

.aligned-text_right {
    text-align: right;
    display: block;
}

.aligned-text {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover_description {
    font-size: 22px;
    display: flex;
    align-items: baseline;
    position: relative;
}

.cover_description_text {
    padding: 29px 0 64px 79px;
    word-spacing: 19px;
}

.bet-button {
    flex-grow: 1;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    font: inherit;
    color: inherit;
    text-transform: inherit;
    margin: 0 50px 0 81px;
    padding: 13px 0 10px;
}

.lots {
    margin-top: 176px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700px;
    text-transform: uppercase;
    margin: 20px 0 26px 66px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 24px;
    color: rgba(255, 255, 255, 1);
    list-style: none;
    row-gap: 20px;
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 563px;
    flex-grow: 1;
    position: relative;
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%; 
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 53px 38px 47px 40px;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.card_type_book {
    background: url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    line-height: 24px;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    margin: 33px 0px 0px 66px;
    text-underline-offset: 3px;
    width: 18%;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    margin: 180px 21px 20px;
}

.about__logo {
    background: rgba(0, 0, 0, 1);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display:flex;
    justify-content: center; 
    margin: 0 auto;
} 

.about__logo-image {
    width: 62%;
}

.about__title {
    margin: 103px 0 100px;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 182px 0 88px 54px;
    font-size: 18px;
    justify-items: start;
}
 
.block_footer_address {
    padding-right: 120px;
}

.footer__menu {
    width: 100%;
    padding-right: 47px;
}

.footer__menu-list {
    list-style: none; 
}

.footer__menu-list-item {
    text-align: center;     
}

.footer__menu-link {
    display: block;
}

.footer__menu-list-item .footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    width: 100%;
    padding-left: 61px;
}

.footer__social-list-item {
    width: 48px;
    list-style: none;
}

.footer__social-link {
    height: 100%;
    display: block;
}
